Repository CodePartnersTeam/FOCCUS-web-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm stylelint */, eslint

.lintstagedrc:

{
	"**.*": ["prettier --write"],
	"*.{css,scss,sass}": ["pnpm stylelint */"],
	"*.{js,jsx,ts,tsx}": ["eslint"]
}

Update Eslint config
  .eslintrc.json
Due: prettier --write

Update Prettier config
  .prettierignore
  .prettierrc.json
Due: prettier --write

Added new dependencies & updated some dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updated vs code config
  .vscode/settings.json
Due: prettier --write

Changed decorators location
  public/images/decorators/zigzag.png
Due: prettier --write

Updated tsconfig config (Paths & more...)
  tsconfig.json
Due: prettier --write

fonts migrated to assets folder
  src/assets/fonts/index.ts
  src/assets/fonts/inter.font.ts
  src/assets/fonts/montserrat.font.ts
  src/styles/fonts/fonts.ts
  src/styles/fonts/index.ts
Due: prettier --write, eslint

Styles migrated to the assets folder implementing SASS 7-1 pattern
  src/assets/styles/abstracts/_functions.scss
  src/assets/styles/abstracts/_mixins.scss
  src/assets/styles/abstracts/_variables.scss
  src/assets/styles/abstracts/index.scss
  src/assets/styles/app.scss
  src/assets/styles/base/_base.scss
  src/assets/styles/base/_fonts.scss
  src/assets/styles/base/_helpers.scss
  src/assets/styles/base/_reset.scss
  src/assets/styles/base/_typography.scss
  src/assets/styles/base/index.scss
  src/assets/styles/layout/_body.scss
  src/assets/styles/layout/_header.scss
  src/assets/styles/layout/index.scss
  src/assets/styles/themes/index.scss
  src/assets/styles/vendors/index.scss
  src/styles/scss/breakpoints.scss
  src/styles/scss/decorators.scss
  src/styles/scss/defensive.css
  src/styles/scss/global.scss
  src/styles/scss/index.scss
  src/styles/scss/reset.scss
Due: prettier --write, pnpm stylelint */

Migrated to NHSS 51 architecture
  src/components/Header/Avatar.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/Header/user.model.ts
  src/components/Toaster.tsx
  src/components/Tooltips/InfoTooltip.tsx
  src/components/Tooltips/index.ts
  src/components/Tooltips/infoTooltip.module.scss
  src/models/credentials.model.ts
  src/models/index.ts
  src/models/routes.model.ts
  src/services/Login.ts
Due: prettier --write, pnpm stylelint */, eslint

Add Routes
  src/config/routes/endpoints.route.ts
  src/config/routes/index.ts
  src/config/routes/main.route.ts
Due: prettier --write, eslint

Add Notification provider
  src/config/providers/_provider.tsx
  src/config/providers/index.ts
  src/config/providers/notifications.provider.tsx
Due: prettier --write, eslint

Defined "Key = Value" Type
  src/common/types/KeyWithValue.type.ts
Due: prettier --write, eslint

Feat: Obtain message code
  src/common/logic/getError.ts
Due: prettier --write, eslint

Feat: Intercepting req and res adding functionalities
  src/config/interceptors/axios.interceptor.ts
Due: prettier --write, eslint

Feat: login middleware
  src/config/middlewares/index.ts
  src/config/middlewares/session.middleware.ts
  src/middleware.ts
Due: prettier --write, eslint

Implemented Hexagonal architecture for 2 feats (User & Session)
  src/modules/Session/application/index.ts
  src/modules/Session/application/session.adapter.ts
  src/modules/Session/domain/Session.model.ts
  src/modules/Session/domain/SessionDTO.model.ts
  src/modules/Session/domain/index.ts
  src/modules/Session/infrastructure/index.ts
  src/modules/Session/infrastructure/login.service.ts
  src/modules/Session/infrastructure/logout.service.ts
  src/modules/Session/infrastructure/removeSession.cookie.ts
  src/modules/Session/infrastructure/saveSession.cookies.ts
  src/modules/_shared/User/domain/Credential.model.ts
  src/modules/_shared/User/domain/Credential.validator.ts
  src/modules/_shared/User/domain/User.model.ts
  src/modules/_shared/User/domain/UserActions.model.ts
  src/modules/_shared/User/index.ts
Due: prettier --write, eslint

Applied title metadata
  src/app/layout.tsx
Due: prettier --write, eslint

Implemented loginPage
  src/app/login.module.scss
  src/app/loginForm.tsx
  src/app/page.tsx
Due: prettier --write, pnpm stylelint */, eslint

Reset page
  src/app/vision_general/page.tsx
Due: prettier --write, eslint

Feat: Added Toast component
  src/app/_ui/(Notifications)/Toaster.component.tsx
Due: prettier --write, eslint

Feat: Implemented Header component
  src/app/_ui/Header/Header.module.scss
  src/app/_ui/Header/Header.tsx
  src/app/_ui/Header/index.ts
  src/app/_ui/Header/userActions.ts
Due: prettier --write, pnpm stylelint */, eslint

added radix ui/avatar
  package.json
  pnpm-lock.yaml
Due: prettier --write

implementation avatar component
  src/app/_ui/Avatar/Avatar.tsx
  src/app/_ui/Avatar/index.ts
  src/assets/styles/components/_Avatar.scss
  src/assets/styles/components/index.scss
Due: prettier --write, pnpm stylelint */, eslint

implementation avatar component in user menu
  src/app/_ui/Header/Header.module.scss
  src/app/_ui/Header/Header.tsx
  src/app/_ui/Header/index.ts
Due: prettier --write, pnpm stylelint */, eslint

other changes
  src/assets/styles/abstracts/index.scss
  src/assets/styles/app.scss
  src/config/middlewares/index.ts
  src/modules/_shared/User/domain/UserActions.model.ts
Due: prettier --write, pnpm stylelint */, eslint

chore(vscode): :technologist: add conventional commits extension
  .vscode/extensions.json
Due: prettier --write

path @shared added to tsconfig
  tsconfig.json
Due: prettier --write

sessionAdapter- get SessionDTO return Token
  src/modules/Session/application/session.adapter.ts
  src/modules/_shared/Session/domain/Session.model.ts
  src/modules/_shared/Session/domain/SessionDTO.model.ts
  src/modules/_shared/Session/domain/index.ts
Due: prettier --write, eslint

saveSessionInCookies token return by sessionAdapter in key session
  src/modules/Session/infrastructure/saveSession.cookies.ts
Due: prettier --write, eslint

userAdapter get sessionDTO return User object
  src/modules/_shared/User/application/index.ts
  src/modules/_shared/User/application/user.adapter.ts
  src/modules/_shared/User/domain/index.ts
Due: prettier --write, eslint

saveUserInLocalStorage - storage user returned by userAdapter in user key
  src/modules/Session/infrastructure/login.service.ts
  src/modules/_shared/User/infraestructure/index.ts
  src/modules/_shared/User/infraestructure/saveUser.localstorage.ts
Due: prettier --write, eslint

changed files / deleted or changed position
  src/modules/Session/domain/Session.model.ts
  src/modules/Session/domain/SessionDTO.model.ts
  src/modules/Session/domain/index.ts
Due: prettier --write, eslint

A function is implemented to remove the local User and Session
  src/modules/Session/infrastructure/removeSession.cookie.ts
  src/modules/_shared/User/infraestructure/index.ts
  src/modules/_shared/User/infraestructure/removeUser.localstorage.ts
Due: prettier --write, eslint

GetAuthorization by cookies token implementation into logout services + window.location
  src/common/logic/getAuthorization.ts
  src/common/logic/index.ts
  src/modules/Session/infrastructure/logout.service.ts
Due: prettier --write, eslint

Token name changed to sessionToken
  src/config/middlewares/session.middleware.ts
Due: prettier --write, eslint

fix: :bug: Renamed from "session" to "session".
  src/app/page.tsx
  src/config/interceptors/axios.interceptor.ts
Due: prettier --write, eslint

build: :arrow_up: Upgrade dependencies
  pnpm-lock.yaml
Due: prettier --write

feat(Session middleware): :sparkles: Implemented session middleware with server validation
  src/config/middlewares/session.middleware.ts
Due: prettier --write, eslint

fix(Session middleware): :bug: Did not send token
  src/config/middlewares/session.middleware.ts
Due: prettier --write, eslint

chore(Utilities): :truck: Migrate and Rename
  src/common/logic/index.ts
  src/common/utils/getAuthorization.util.ts
  src/common/utils/getError.util.ts
  src/common/utils/index.ts
Due: prettier --write, eslint
