Repository CodePartnersTeam/FOCCUS-web-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm stylelint */, eslint

refactor: :art: corrección del código en base a comentarios en issue como respuesta al PR
  public/icons/ellipses.svg
  src/app/components/Header/Header.tsx
  src/app/components/_Dropdown/Ellipses/Ellipses.Group.tsx
  src/app/components/_Dropdown/Ellipses/Ellipses.Item.tsx
  src/app/components/_Dropdown/Ellipses/Ellipses.tsx
Due: prettier --write, eslint

refactor(Navigation routes): :recycle: se le cambio el tipado de navigator header
  src/app/components/Header/Header.navigation.ts
Due: prettier --write, eslint

refactor: :art: se agrega Barrel en src/app/components/_Dropdown/Ellipses
  src/app/components/_Dropdown/Ellipses/index.ts
Due: prettier --write, eslint

feat(Elipses Component): :sparkles: se agrego el componente Elipses
  public/icons/ellipses.svg
  src/app/components/_Dropdown/Ellipses/Ellipses.Group.tsx
  src/app/components/_Dropdown/Ellipses/Ellipses.Item.tsx
  src/app/components/_Dropdown/Ellipses/Ellipses.module.scss
  src/app/components/_Dropdown/Ellipses/Ellipses.tsx
  src/app/components/_Dropdown/Ellipses/index.ts
Due: prettier --write, pnpm stylelint */, eslint

refactor(Header): :zap: se actualizo el header para implementar Elipses component
  src/app/components/Header/Header.module.scss
  src/app/components/Header/Header.tsx
  src/app/components/Header/userActions.ts
  src/features/_shared/User/domain/UserActions.model.ts
Due: prettier --write, pnpm stylelint */, eslint

fix(Header): 🐛 se retiro un parrafo agregado por git al momento de solucionar un conflicto
  src/app/components/_Dropdown/Ellipses/Ellipses.tsx
Due: prettier --write, eslint

refactor(Header): ♻️ retire codigo comentado y un servicio que estaba solo de prueba
  src/app/components/Header/Header.tsx
  src/app/components/Header/userActions.ts
Due: prettier --write, eslint

fix: 🐛 se corrigió el comportamient modal por default de EllipsesDropdown y las lineas separadoras
  src/app/components/_Dropdown/Ellipses/Ellipses.Group.tsx
  src/app/components/_Dropdown/Ellipses/Ellipses.module.scss
  src/app/components/_Dropdown/Ellipses/Ellipses.tsx
Due: prettier --write, pnpm stylelint */, eslint

build: ⬆️ actualizadas todas las dependencias
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(SASSDOC): ➕ instaladas dependencias para SASSDOCS
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(SASSDOC): 🔧 configuracion para SASSDOC
  .sassdocrc
Due: prettier --write

fix(SASSDOC): 🐛 esto ahora aparece en el tema de herman para SASSDOC
  src/assets/styles/abstracts/_functions.scss
  src/assets/styles/abstracts/_mixins.scss
Due: prettier --write, pnpm stylelint */

feat(System Design): ✨ añadidos Spacing de System Design Foundations
  src/assets/styles/abstracts/variables/_spacing.scss
Due: prettier --write, pnpm stylelint */

docs(SASSDOC): 📝 documentacion de Spacing de Sytem Design Foundations
  src/assets/styles/abstracts/variables/_spacing.scss
Due: prettier --write, pnpm stylelint */

refactor(System Design): 🚚 renombrado siguiendo Screaming Architecture
  src/assets/styles/abstracts/variables/_spacing.variables.scss
Due: prettier --write, pnpm stylelint */

Update documentation
  assets/img/LogoFoccus.png
  assets/img/favicon.ico
  assets/webpack/app.min.js
  assets/webpack/app.min.js.map
  assets/webpack/app_styles.min.css
  assets/webpack/app_styles.min.css.map
  assets/webpack/common.min.js
  assets/webpack/common.min.js.map
  assets/webpack/iframe_styles.min.css
  assets/webpack/iframe_styles.min.css.map
  assets/webpack/runtime.min.js
  assets/webpack/runtime.min.js.map
  assets/webpack/search.min.js
  assets/webpack/search.min.js.map
  index.html
  search-data.json
  search.html
  system-design-colors.html
  system-design-spacing.html
  undefined.html
Due: prettier --write, pnpm stylelint */, eslint

Path conditions:
  prettier --write: any of: **.*
  pnpm stylelint */: any of: *.{css,scss,sass}
  eslint: any of: *.{js,jsx,ts,tsx}
