Repository CodePartnersTeam/FOCCUS-web-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm stylelint */, eslint

.lintstagedrc:

{
	"**.*": ["prettier --write"],
	"*.{css,scss,sass}": ["pnpm stylelint */"],
	"*.{js,jsx,ts,tsx}": ["eslint"]
}

docs(README): :memo: nueva documentacion del README
  README.md
Due: prettier --write

feat: :sparkles: se agregó mixins de font y line-clamp con sus documentaciones
  src/assets/styles/abstracts/_mixins.scss
Due: prettier --write, pnpm stylelint */

fix(Login): :bug: se modifico el metodo ,se dejo de usar el interceptor,ahora se utiliza axios
  src/features/Session/infrastructure/login.service.ts
Due: prettier --write, eslint

Actualizado las convenciones de lenguaje
  README.md
Due: prettier --write

feat(Login): :zap: se creo un interceptor para el login que pueda manejar los toast
  src/config/interceptors/axios.login.ts
  src/features/Session/infrastructure/login.service.ts
Due: prettier --write, eslint

refactor: :recycle: correccion de comentarios en español y valores por default en mixins.scss
  src/assets/styles/abstracts/_mixins.scss
Due: prettier --write, pnpm stylelint */

fix(Login): :zap: se modifico el loginform y loging service
  src/app/loginForm.tsx
  src/features/Session/infrastructure/login.service.ts
Due: prettier --write, eslint

fix(Login): :zap: modifique el .then para que solo se llame una vez
  src/app/loginForm.tsx
Due: prettier --write, eslint

fix(Login): :bug: se soluciono el renderizado del error
  src/features/Session/infrastructure/login.service.ts
Due: prettier --write, eslint

chore: :truck: ahora el alias de importacion `@ui` se llama `@components`
  tsconfig.json
Due: prettier --write

feat: implementacion del componente Password
  src/app/loginForm.tsx
  src/assets/styles/components/index.scss
Due: prettier --write, pnpm stylelint */, eslint

feat: :sparkles: componente Password
  src/app/components/_Forms/Password/Password.component.tsx
  src/app/components/_Forms/Password/index.ts
  src/assets/styles/components/_Password.scss
Due: prettier --write, pnpm stylelint */, eslint

fix: :bug: el logo se compartaba de una forma inesperada
  src/app/login.module.scss
  src/app/page.tsx
Due: prettier --write, pnpm stylelint */, eslint

fix: :bug: el servicio de login no devolvia la response
  src/features/Session/infrastructure/login.service.ts
Due: prettier --write, eslint

fix: :label: no se habia tipado el estado local `validations`
  src/app/components/_Forms/Password/Password.component.tsx
Due: prettier --write, eslint

feat: :sparkles: ahora el Login form utiliza correctamente el componente Password
  src/app/loginForm.tsx
Due: prettier --write, eslint

Update README.md
  README.md
Due: prettier --write

refactor(Navigation routes): :recycle: se retiraron de las rutas para el navegador de header
  src/app/components/Header/Header.navigation.ts
  src/config/routes/APP.routes.ts
Due: prettier --write, eslint

refactor(Header): :lipstick: se agrego el logo de foccus en el header y se estilizo
  src/app/components/Header/Header.module.scss
  src/app/components/Header/Header.tsx
Due: prettier --write, pnpm stylelint */, eslint

refactor(Header): :recycle: solucione unos detalles de stilo y agregue un comentario en header
  src/app/components/Header/Header.module.scss
  src/app/components/Header/Header.tsx
Due: prettier --write, pnpm stylelint */, eslint

refactor(Navigation routes): :recycle: agregue la ruta SELLS , ventas
  src/app/components/Header/Header.navigation.ts
  src/config/routes/APP.routes.ts
Due: prettier --write, eslint

feat: ✨ Implementado componente Tooltip
  src/app/components/_Tooltips/Tooltip/Tooltip.component.tsx
  src/app/components/_Tooltips/Tooltip/Tooltip.types.ts
  src/app/components/_Tooltips/Tooltip/index.ts
  src/assets/styles/components/_Tooltip.scss
  src/assets/styles/components/index.scss
Due: prettier --write, pnpm stylelint */, eslint

refactor: ♻️ se cambio la primitiva de Radix Tooltip a el propio componente para Tooltips
  src/app/components/Ticket/Ticket.Tooltip.tsx
  src/app/components/_Forms/Password/Password.component.tsx
  src/assets/styles/components/_Password.scss
  src/assets/styles/components/_Ticket.scss
Due: prettier --write, pnpm stylelint */, eslint

build: :arrow_up: se actualizaron todas las dependencias
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: modificado configuracion de VSCode para el desarrollo
  .vscode/settings.json
Due: prettier --write

fix: :bug: ahora el NotificationDropdown no se comporta como modal
  src/app/components/NotificationCenter/components/Notification.Dropdown.tsx
Due: prettier --write, eslint

fix: :bug: solucionado colisiones de los toast
  src/app/components/(Notifications)/Toaster.component.tsx
  src/app/components/NotificationCenter/notificationToast.launch.tsx
Due: prettier --write, eslint

fix: :bug: se añadio 'use-client' a funcionalidades CSR
  src/features/NotificationsCenter/infrastructure/notificationsEvents.localStorage.ts
  src/features/_shared/User/infrastructure/removeUser.localstorage.ts
Due: prettier --write, eslint

build(NotificationCenter): :green_heart: NotificationCenter es del cliente con 'useEffect'
  src/app/components/NotificationCenter/NotificationCenter.tsx
Due: prettier --write, eslint

ci: 🔧 nueva configuracion para VSCode ConventionalCommits
  .vscode/settings.json
  src/assets/styles/base/_typography.scss
Due: prettier --write, pnpm stylelint */

ci: 🔧 añadido `prefix: remove` a Commitlint
  commitlint.config.cjs
  commitlint.rules.js
Due: prettier --write, eslint

refactor: ♻️ se cambiaron las propiedades en sintax html por sintax JSX
  public/icons/active.svg
  public/icons/arrow left.svg
  public/icons/arrow-down.svg
  public/icons/arrow-right.svg
  public/icons/arrow-up.svg
  public/icons/bell.svg
  public/icons/calendar.svg
  public/icons/call.svg
  public/icons/circle-cross.svg
  public/icons/close.svg
  public/icons/document.svg
  public/icons/down-simple.svg
  public/icons/edit.svg
  public/icons/hide.svg
  public/icons/inbox.svg
  public/icons/info.svg
  public/icons/left-simple.svg
  public/icons/location.svg
  public/icons/message.svg
  public/icons/more.svg
  public/icons/notification.svg
  public/icons/out.svg
  public/icons/phone.svg
  public/icons/right-simple.svg
  public/icons/send.svg
  public/icons/settings.svg
  public/icons/show.svg
  public/icons/star.svg
  public/icons/swap.svg
  public/icons/ticket-star.svg
  public/icons/ticket.svg
  public/icons/trash.svg
  public/icons/up-simple.svg
Due: prettier --write

docs: 📝 se añadio un script para construir e inicializar la documentacion de SASSDOC
  package.json
Due: prettier --write

feat: ✨ configuracion para SASSDOC
  .sassdocrc
  .vscode/settings.json
Due: prettier --write

chore: 🙈 ignorado SASSDOC en git y prettier
  .gitignore
  .prettierignore
Due: prettier --write

remove: 🔥 removido codigo innecario en Mixins
  src/assets/styles/abstracts/_mixins.scss
Due: prettier --write, pnpm stylelint */

chore: recomendada extension de VSCode Some Sass
  .vscode/extensions.json
Due: prettier --write

feat: implementación del componente Ellipses dentro de la carpeta _Dropdown
  public/icons/options.svg
  src/app/components/Header/Header.tsx
  src/app/components/_Dropdown/Ellipses/Ellipses.Group.tsx
  src/app/components/_Dropdown/Ellipses/Ellipses.Item.tsx
  src/app/components/_Dropdown/Ellipses/Ellipses.module.scss
  src/app/components/_Dropdown/Ellipses/Ellipses.tsx
Due: prettier --write, pnpm stylelint */, eslint
