Repository CodePartnersTeam/FOCCUS-web-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm stylelint */, eslint

.lintstagedrc:

{
	"**.*": ["prettier --write"],
	"*.{css,scss,sass}": ["pnpm stylelint */"],
	"*.{js,jsx,ts,tsx}": ["eslint"]
}

refactor: :recycle: Updated imports and adding type to req answer
  src/config/interceptors/axios.interceptor.ts
  src/modules/Session/infrastructure/logout.service.ts
Due: prettier --write, eslint

chore: :arrow_up: actualizadas todas las dependencias a la ultima version
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(SessionMiddleware): :recycle: se cambio el comportamiento del middleware de sesion
  src/app/page.tsx
  src/config/middlewares/index.ts
  src/config/middlewares/session.middleware.ts
  src/middleware.ts
Due: prettier --write, eslint

build: :arrow_up: actualizadas todas las dependencias
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(middleware): :memo: se documenta mejor el funcionamiento del middleware
  src/middleware.ts
Due: prettier --write, eslint

feat(Ticket): ✨ componente Ticket con su variante de renderizado Tooltip
  src/app/_ui/Ticket/Ticket.Tooltip.tsx
  src/app/_ui/Ticket/Ticket.component.tsx
Due: prettier --write, eslint

feat(Ticket): :label: añadidos tipos del componente Ticket
  src/app/_ui/Ticket/Ticket.types.ts
Due: prettier --write, eslint

feat(Ticket): barril de importacion para el componente ticket
  src/app/_ui/Ticket/index.ts
Due: prettier --write, eslint

feat(Notification Item): :sparkles: Component Notification Item and module.scss
  public/icons/options.svg
  src/app/_ui/AppNotification/NotificationItem.module.scss
  src/app/_ui/AppNotification/NotificationItem.tsx
Due: prettier --write, pnpm stylelint */, eslint

chore(Notification Item): :clown_face: Mockup of notification info to render into the component NotificationItem
  src/app/_ui/AppNotification/mockup.js
Due: prettier --write, eslint

refactor(Notification Item): :recycle: Refactored the code to implement the NotificationItem component and styles.
  src/app/_ui/Header/Header.module.scss
  src/app/_ui/Header/Header.tsx
Due: prettier --write, pnpm stylelint */, eslint

chore: Creada plantilla para la creacion de Pull Request
  .github/pull_request_template.md
Due: prettier --write

Habilitadas plantillas de Github para Issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

feat: añadida una estructura para generar Issues sobre bugs
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: prettier --write

fix: ahora deberia tomar siempre el proyecto al que pertence
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: prettier --write

feat: plantilla para Issues de nuevas caracteristicas
  .github/ISSUE_TEMPLATE/new-feature.yml
Due: prettier --write

feat: configuracion estandar para las templates de Issues
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

remove: eliminadas plantillas de Issues legacy
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

build: :heavy_plus_sign: añadidas dependencias para optimizar imagenes
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: :rotating_light: configuracion de Koji CLI
  .koji.toml
Due: prettier --write

style: :rotating_light: cambios en stylelint para admitir distribucion de colores antiguas
  .stylelintrc.json
Due: prettier --write

refactor(Notification Item): :recycle: Refactored the code to improve and modify the interface to adapt the future new component ticket
  src/app/_ui/AppNotification/NotificationItem.tsx
  src/app/_ui/AppNotification/mockup.js
  src/app/_ui/Header/Header.tsx
Due: prettier --write, eslint

feat(Implementation new component Ticket into the Notification Item): :sparkles:
  src/app/_ui/AppNotification/NotificationItem.tsx
  src/app/_ui/AppNotification/mockup.js
Due: prettier --write, eslint

style(Ticket): estilos para el cumplimiento del figma
  src/assets/styles/components/_Ticket.scss
  src/assets/styles/components/index.scss
Due: prettier --write, pnpm stylelint */

refactor(AppNotification): :recycle: refactored the code to improve the component and styles
  package.json
  src/app/_ui/AppNotification/NotificationItem.module.scss
  src/app/_ui/AppNotification/NotificationItem.tsx
  src/app/_ui/AppNotification/mockup.js
Due: prettier --write, pnpm stylelint */, eslint

refactor(AppNotification): :recycle: Se modifico el codigo para mejorar la manera de implementacion del componente
  src/app/_ui/Header/Header.tsx
Due: prettier --write, eslint

Merge branch 'dev' into Sprint-1/feat-Notification-Center
  src/assets/styles/components/_Ticket.scss
  src/assets/styles/components/index.scss
Due: prettier --write, pnpm stylelint */

chore(AppNotification): :arrow_up: Se agrego de la libreria Radix dos componentes nuevo / react-checkbox y react-dialog
  package.json
Due: prettier --write

refactor(AppNotification): :zap: Se modulo el dropdown de notificaciones y se cambiaron nombres de importaciones
  src/app/_ui/Header/Header.tsx
Due: prettier --write, eslint

feat(AppNotification): :zap: Componente Dropdown notification modularizado con su hoja de estilos
  src/app/_ui/DropDown/DropDown.module.scss
  src/app/_ui/DropDown/Notification.dropdown.tsx
Due: prettier --write, pnpm stylelint */, eslint

refactor(NotificationItem): :zap: Se modifico el tipado y la hoja de estilos acorde a la nueva componetizacion
  src/app/_ui/AppNotification/NotificationItem.module.scss
  src/app/_ui/AppNotification/NotificationItem.tsx
Due: prettier --write, pnpm stylelint */, eslint

feat(NotificationCenter): :zap: Nueva modulacion del componente notification
  src/app/_ui/AppNotification/NotificationCenter.component.tsx
  src/assets/styles/components/_NotificationCenter.scss
Due: prettier --write, pnpm stylelint */, eslint

feat(SheetNotification): :sparkles: Componente nuevo y hoja de estilo para renderizar las notificaciones del advisor
  src/app/_ui/SheetNotifications/Notification.Sheet.tsx
  src/app/_ui/SheetNotifications/SheetNotification.scss
Due: prettier --write, pnpm stylelint */, eslint

fix(assets): :bug: cambios minimos en el tipado que producian un bug , adicion de notification al barrel de styles components
  src/assets/styles/abstracts/_mixins.scss
  src/assets/styles/components/_Ticket.scss
  src/assets/styles/components/index.scss
Due: prettier --write, pnpm stylelint */

chore: Modificacion del muckup para lograr la cantidad de notificaciones necesarias para el scroll en sheetnotification
  src/app/_ui/AppNotification/mockup.js
Due: prettier --write, eslint

feat(SheetNotification): :zap: se agrego el color negro al icono del checkbox
  src/app/_ui/SheetNotifications/SheetNotification.scss
Due: prettier --write, pnpm stylelint */

build: :arrow_up: actualizadas dependencias a la ultima version
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: :bug: arreglados problemas en los servicios de la Session
  src/modules/Session/infrastructure/login.service.ts
  src/modules/Session/infrastructure/logout.service.ts
  src/modules/Session/infrastructure/saveSession.cookies.ts
Due: prettier --write, eslint

feat: :sparkles: ahora el componente Toaster se importa como modulo y muestra hasta 9 notificaciones
  src/app/_ui/(Notifications)/Toaster.component.tsx
  src/app/_ui/(Notifications)/index.ts
  src/config/providers/notifications.provider.tsx
Due: prettier --write, eslint

feat: :sparkles: añadida la fuente lexend
  src/app/layout.tsx
  src/assets/fonts/index.ts
  src/assets/fonts/lexend.fonts.ts
Due: prettier --write, eslint
