Repository CodePartnersTeam/FOCCUS-web-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, pnpm stylelint */

Implemented defensive CSS
  src/styles/scss/defensive.css
Due: pnpm stylelint */

Configured stylelint
  .stylelintrc.json
Due: none

Implemented rule for desktop rendering only
  src/styles/scss/breakpoints.scss
  src/styles/scss/global.scss
Due: pnpm stylelint */

Implemented fallback in CSS variables
  src/styles/scss/variables.scss
Due: pnpm stylelint */

Implemented font system design
  src/styles/scss/fonts.scss
  src/styles/scss/global.scss
Due: pnpm stylelint */

Added more tags in the font design system
  src/styles/scss/fonts.scss
Due: pnpm stylelint */

Cursor pointer in buttons
  src/styles/scss/global.scss
Due: pnpm stylelint */

Formatting code
  src/app/loginForm.tsx
  src/app/page.module.scss
  src/app/page.tsx
Due: eslint, pnpm stylelint */

Disable flex wrapping & background repeat rules
  .stylelintrc.json
Due: none

test pre commit
  src/app/page.tsx
Due: eslint

Implemented Header component (User Actions, Menu nav)
  src/components/Header/Avatar.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/Header/user.model.ts
Due: eslint, pnpm stylelint */

Implemetend Info Tooltip component
  src/components/Tooltips/InfoTooltip.tsx
  src/components/Tooltips/index.ts
  src/components/Tooltips/infoTooltip.module.scss
Due: eslint, pnpm stylelint */

Changed location
  public/images/logos/LogoFoccus.png
Due: none

Changed location
  public/images/avatar_test.svg
Due: none

Implemented icon library
  public/icons/active.svg
  public/icons/arrow left.svg
  public/icons/arrow-down.svg
  public/icons/arrow-right.svg
  public/icons/arrow-up.svg
  public/icons/bell.svg
  public/icons/calendar.svg
  public/icons/call.svg
  public/icons/circle-cross.svg
  public/icons/close.svg
  public/icons/document.svg
  public/icons/down-simple.svg
  public/icons/edit.svg
  public/icons/hide.svg
  public/icons/info.svg
  public/icons/left-simple.svg
  public/icons/location.svg
  public/icons/message.svg
  public/icons/more.svg
  public/icons/notification.svg
  public/icons/order.svg
  public/icons/out.svg
  public/icons/phone.svg
  public/icons/right-simple.svg
  public/icons/send.svg
  public/icons/settings.svg
  public/icons/show.svg
  public/icons/star.svg
  public/icons/swap.svg
  public/icons/ticket-star.svg
  public/icons/ticket.svg
  public/icons/trash.svg
  public/icons/up-simple.svg
Due: none

Implemented Prettier on lint-staged
  .husky/pre-commit
  .lintstagedrc
Due: none

Implemented routes
  src/models/index.ts
  src/models/routes.model.ts
Due: eslint

Implemented radix components
  package.json
  pnpm-lock.yaml
Due: none

Update Readme
  README.md
Due: none

Updated ts Config
  tsconfig.json
Due: none

Updated stylelint config
  .stylelintrc.json
Due: none

Added prettier ignore
  .prettierignore
Due: none

Changes in styles
  src/styles/scss/breakpoints.scss
  src/styles/scss/decorators.scss
  src/styles/scss/defensive.css
  src/styles/scss/global.scss
  src/styles/scss/reset.css
  src/styles/scss/reset.scss
Due: pnpm stylelint */

Formating page
  src/app/page.tsx
Due: eslint

Fixed montserratAlternate implementation
  src/app/layout.tsx
  src/styles/fonts/fonts.ts
Due: eslint

Implemented config for VS Code
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Update README.md
  README.md
Due: none

Implemented Toast component and fixed bug with defensive CSS
  src/components/Toaster.tsx
  src/styles/scss/global.scss
Due: eslint, pnpm stylelint */

Implemented Sonner, Zod & SWR
  package.json
  pnpm-lock.yaml
Due: none

Redirect "Vision General"
  next.config.js
Due: eslint

Implemented default values
  src/models/credentials.model.ts
Due: eslint

Implemented Toast component
  src/app/layout.tsx
Due: eslint

Implemented input validations
  src/app/loginForm.tsx
Due: eslint

First step login
  src/app/vision_general/page.tsx
Due: eslint

Updated settings for VS Code
  .vscode/settings.json
Due: none

Implemented view with logout button
  src/app/vision_general/page.tsx
Due: eslint

Featured Login
  src/app/loginForm.tsx
  src/services/Login.ts
Due: eslint

Added Axios
  package.json
  pnpm-lock.yaml
Due: none

Updated Prettier
  .prettierrc.json
Due: none

login error implementation
  src/app/loginForm.tsx
  src/app/page.module.scss
Due: eslint, pnpm stylelint */

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  pnpm stylelint */: any of: *.{css,scss,sass}
