Repository CodePartnersTeam/FOCCUS-web-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm stylelint */, eslint

.lintstagedrc:

{
	"**.*": ["prettier --write"],
	"*.{css,scss,sass}": ["pnpm stylelint */"],
	"*.{js,jsx,ts,tsx}": ["eslint"]
}

feat: :sparkles: luego de hacer login se subscribe al SSE de notificaciones
  src/app/loginForm.tsx
Due: prettier --write, eslint

fix: :label: cambiada la forma de importancion del keyWithValue
  src/common/types/index.ts
Due: prettier --write, eslint

feat: :sparkles: añadido componente para la incorporacion rapida de iconos
  src/app/_ui/Icon/Icon.component.tsx
  src/app/_ui/Icon/index.ts
Due: prettier --write, eslint

feat: :truck: creado unico archivo para el uso de rutas
  src/config/routes/API.routes.ts
Due: prettier --write, eslint

feat: :sparkles: utilidad para emitir sonidos
  src/common/utils/emitSound.util.ts
  src/common/utils/index.ts
Due: prettier --write, eslint

feat: :sparkles: entidad de NotificationCenter
  src/modules/NotificationsCenter/domain/NotificationEvent.model.ts
  src/modules/NotificationsCenter/domain/index.ts
Due: prettier --write, eslint

feat: :sparkles: servicio de subscripcion de SSE
  src/modules/NotificationsCenter/infrastructure/NotificationEvents.subscribe.ts
  src/modules/NotificationsCenter/infrastructure/index.ts
Due: prettier --write, eslint

feat: :sparkles: adaptador para el NotificationEvent
  src/modules/NotificationsCenter/application/NotificationCenter.adapter.ts
  src/modules/NotificationsCenter/application/index.ts
Due: prettier --write, eslint

fix: :bug: se resetearon las credenciales por defecto
  src/modules/_shared/User/domain/Credential.model.ts
Due: prettier --write, eslint

style: eliminado console.log
  src/modules/_shared/User/application/user.adapter.ts
Due: prettier --write, eslint

refactor: :recycle: refactorizado servicios de User
  src/modules/_shared/User/infrastructure/index.ts
  src/modules/_shared/User/infrastructure/removeUser.localstorage.ts
  src/modules/_shared/User/infrastructure/saveUser.localstorage.ts
Due: prettier --write, eslint

refactor: :recycle: removida logica innecesaria
  src/common/utils/getAuthorization.util.ts
Due: prettier --write, eslint

feat: :sparkles: añadida variable de SCSS para lexend
  src/assets/styles/abstracts/_variables.scss
Due: prettier --write, pnpm stylelint */

feat: :recycle: ahora el mixin de flex es mas completo
  src/assets/styles/abstracts/_mixins.scss
Due: prettier --write, pnpm stylelint */

feat: :sparkles: añadido componente NotificationToast
  src/app/_ui/AppNotification/components/Notification.Toast.tsx
  src/app/_ui/AppNotification/components/index.ts
Due: prettier --write, eslint

feat: :sparkles: lanzador de notificaciones de SSE
  src/app/_ui/AppNotification/notificationToast.launch.tsx
  src/assets/styles/components/_NotificationCenter.scss
  src/assets/styles/components/index.scss
Due: prettier --write, pnpm stylelint */, eslint

chore: archivo de audio notificaion pop
  public/audios/message-pop.mp3
Due: prettier --write

build: :heavy_plus_sign: instalada sharp
  package.json
  pnpm-lock.yaml
Due: prettier --write

remove(NotificationCenter): 🧹 eliminadas y migradas a `_ui/NotificationCenter/`
  src/app/_ui/AppNotification/NotificationCenter.component.tsx
  src/app/_ui/AppNotification/NotificationItem.module.scss
  src/app/_ui/AppNotification/NotificationItem.tsx
  src/app/_ui/AppNotification/components/Notification.Toast.tsx
  src/app/_ui/AppNotification/components/index.ts
  src/app/_ui/AppNotification/mockup.js
  src/app/_ui/AppNotification/notificationToast.launch.tsx
  src/app/_ui/DropDown/DropDown.module.scss
  src/app/_ui/DropDown/Notification.dropdown.tsx
  src/app/_ui/SheetNotifications/Notification.Sheet.tsx
  src/app/_ui/SheetNotifications/SheetNotification.scss
Due: prettier --write, pnpm stylelint */, eslint

fix: cambiando nombre de NotificationDropdown a NotificationCenter
  src/app/_ui/Header/Header.tsx
Due: prettier --write, eslint

style: :lipstick: eliminado comportamiento de outline en tags de interaccion
  src/assets/styles/base/_reset.scss
Due: prettier --write, pnpm stylelint */

chore: :truck: cambiada la URI
  src/config/routes/API.routes.ts
Due: prettier --write, eslint

fix: :bug: ahora el interceptor debe funcionar correctamente al buscar en Cookis y no en LS
  src/config/interceptors/axios.interceptor.ts
Due: prettier --write, eslint

feat: :sparkles: añadido title y description
  src/modules/NotificationsCenter/domain/NotificationEvent.model.ts
Due: prettier --write, eslint

feat: :sparkles: adapta el title y description de la DTO
  src/modules/NotificationsCenter/application/NotificationCenter.adapter.ts
Due: prettier --write, eslint

style: :truck: renombrado el archivo
  src/modules/NotificationsCenter/infrastructure/notificationEvents.subscribe.ts
Due: prettier --write, eslint

feat: :sparkles: obtiene de localStorage todas las notificaciones de NotificationCenter
  src/modules/NotificationsCenter/infrastructure/getNotificationsEvents.localstorage.ts
Due: prettier --write, eslint

feat: :sparkles: store de zustand para NotificationCenter
  src/app/_ui/NotificationCenter/useNotificationsCenter.store.ts
Due: prettier --write, eslint

feat: :sparkles: lanzador de notificaciones en NotificationCenter
  src/app/_ui/NotificationCenter/notificationToast.launch.tsx
Due: prettier --write, eslint

feat: :sparkles: componentes de NotificationCenter
  src/app/_ui/NotificationCenter/components/DropDown.module.scss
  src/app/_ui/NotificationCenter/components/Notification.Dropdown.tsx
  src/app/_ui/NotificationCenter/components/Notification.Sheet.tsx
  src/app/_ui/NotificationCenter/components/Notification.Toast.tsx
  src/app/_ui/NotificationCenter/components/NotificationItem.module.scss
  src/app/_ui/NotificationCenter/components/NotificationItem.tsx
  src/app/_ui/NotificationCenter/components/SheetNotification.scss
  src/app/_ui/NotificationCenter/components/index.ts
  src/assets/styles/components/_NotificationCenter.scss
Due: prettier --write, pnpm stylelint */, eslint

chore: barriles de importaciones
  src/app/_ui/NotificationCenter/index.ts
  src/modules/NotificationsCenter/infrastructure/index.ts
Due: prettier --write, eslint

fix: :bug: todo para arreglar esto
  src/modules/Session/infrastructure/login.service.ts
Due: prettier --write, eslint

chore: ahora luego del login no se subscribe al SSE
  src/app/loginForm.tsx
Due: prettier --write, eslint

feat: :sparkles: Se suscribe al sse una vez se monta la app
  src/app/_ui/NotificationCenter/NotificationCenter.tsx
  src/config/providers/NotificationCenter.provider.tsx
  src/config/providers/_provider.tsx
Due: prettier --write, eslint

feat: :sparkles: componentes del NotificationCenter
  src/app/_ui/NotificationCenter/components/DropDown.module.scss
  src/app/_ui/NotificationCenter/components/Notification.Dropdown.tsx
  src/app/_ui/NotificationCenter/components/Notification.Item.tsx
  src/app/_ui/NotificationCenter/components/Notification.Sheet.tsx
  src/app/_ui/NotificationCenter/components/NotificationDropdown.module.scss
  src/app/_ui/NotificationCenter/components/NotificationItem.module.scss
  src/app/_ui/NotificationCenter/components/NotificationSheet.scss
  src/app/_ui/NotificationCenter/components/SheetNotification.scss
  src/app/_ui/NotificationCenter/components/index.ts
Due: prettier --write, pnpm stylelint */, eslint

feat: :sparkles: estado global para NotificationCenter
  src/app/_ui/NotificationCenter/useNotificationsCenter.store.ts
Due: prettier --write, eslint

feat: :sparkles: capa de insfraestructura de NotificationCenter
  src/modules/NotificationsCenter/infrastructure/deleteNotificationById.service.ts
  src/modules/NotificationsCenter/infrastructure/getNotificationsEvents.localstorage.ts
  src/modules/NotificationsCenter/infrastructure/index.ts
  src/modules/NotificationsCenter/infrastructure/notificationEvents.sse.ts
  src/modules/NotificationsCenter/infrastructure/notificationEvents.subscribe.ts
  src/modules/NotificationsCenter/infrastructure/notificationsEvents.localStorage.ts
Due: prettier --write, eslint

chore: varios
  public/icons/inbox.svg
  src/app/_ui/Header/Header.tsx
  src/app/_ui/Icon/Icon.component.tsx
  src/app/_ui/NotificationCenter/index.ts
  src/app/_ui/Ticket/Ticket.types.ts
Due: prettier --write, eslint

feat: :sparkles: nueva distribucion de rutas
  src/config/routes/API.routes.ts
  src/config/routes/API_DINAMIC.routes.ts
  src/config/routes/APP.routes.ts
  src/config/routes/endpoints.route.ts
  src/config/routes/index.ts
  src/config/routes/main.route.ts
Due: prettier --write, eslint

refactor: :recycle: implementado nueva forma de rutas a toda la aplicacion
  src/app/_ui/Header/Header.navigation.ts
  src/app/_ui/Header/Header.tsx
  src/app/_ui/NotificationCenter/NotificationCenter.tsx
  src/app/loginForm.tsx
  src/config/interceptors/axios.interceptor.ts
  src/config/providers/NotificationCenter.provider.tsx
  src/config/routes/API.routes.ts
  src/config/routes/API_DINAMIC.routes.ts
  src/middleware.ts
  src/modules/NotificationsCenter/infrastructure/deleteNotificationById.service.ts
  src/modules/Session/infrastructure/login.service.ts
  src/modules/Session/infrastructure/logout.service.ts
Due: prettier --write, eslint
